.fp-wrapper {
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fp-box {
  background: rgba(20, 20, 20, 0.95);
  padding: 35px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0,0,0,0.6);
  text-align: center;
}

.fp-title {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.fp-subtitle {
  color: #aaa;
  font-size: 0.9rem;
  margin-bottom: 25px;
}

.fp-input {
  width: 100%;
  background: #222;
  border: 1px solid #444;
  padding: 12px;
  color: white;
  border-radius: 6px;
  transition: 0.25s;
}

.fp-input:hover,
.fp-input:focus {
  border-color: #e50914 !important;
  box-shadow: 0 0 4px rgba(229, 9, 20, 0.7);
}

.fp-btn {
  background: #e50914 !important;
  border: none !important;
  font-weight: bold;
  padding: 12px;
}

.fp-back {
  margin-top: 28px;
  display: block;    
  color: #ccc;
  cursor: pointer;
  transition: 0.2s;
}


.fp-back:hover {
  color: white;
}

/* PRIME-NG BUTTON ROOT ELEMENT */
:host ::ng-deep .fp-btn.p-button {
  border: 1px solid #e50914 !important;
}

/* Hover */
:host ::ng-deep .fp-btn.p-button:hover {
  border-color: #e50914 !important;
  box-shadow: 0 0 6px rgba(229, 9, 20, 0.8) !important;
}

/* Focus (TAB ile seçilince) */
:host ::ng-deep .fp-btn.p-button:focus,
:host ::ng-deep .fp-btn.p-button:focus-visible {
  border: 2px solid #e50914 !important;
  outline: none !important;
  box-shadow: 0 0 6px rgba(229, 9, 20, 0.8) !important;
}


